version: '3.3'

services:
  api:
    image: {{BACKEND_DOCKER_IMAGE}}
    restart: always
    networks:
      apinet:
        ipv4_address: 172.20.0.5
    ports:
      - 5001:5000
      
networks:
  apinet:
    ipam:
      driver: bridge
      config:
        - subnet: 172.20.0.0/24